{% extends 'base.html.twig' %}

{% block title %}The actors{% endblock %}

{% block steelsheat %}

<style>


</style>

{% endblock %}

{% block body %}


<div class="container mt-5">
    <h2 class="text-center mb-4">Les artistes tendances de la semaine</h2>
    
    <!-- Boucler sur les artistes tendances -->
    {% if artists is empty %}
        <div class="alert alert-warning text-center">
            Aucun artiste tendance disponible pour le moment.
        </div>
    {% else %}
        <div class="row">
            {% for artist in artists %}
                <div class="col-md-2 mb-5">
                    <div class="card">
                        <!--  -->
                        {% if artist.profile_path %}
                            <a href="#">
                                <img src="{{ artist.profile_path }}" class="card-img-top" alt="{{ artist.name }}">
                            </a>
                        {% else %}
                            <img src="https://via.placeholder.com/500x750?text=No+Image" class="card-img-top" alt="Pas d'image disponible">
                        {% endif %}
                        
                        <div class="card-body">
                            <!-- Nom de l'artiste -->
                            <h5 class="card-title text-center">{{ artist.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>


{% endblock %}
